.Step2 {
  width: 500px;
  height: 200px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.Names {
  display: flex;
  /* align-items: baseline; */
  flex-direction: row;
}
.FirstName {
  padding: 10px;
  margin-right: 20px;
}
.LastName {
  padding: 10px;
}
.Email {
  padding: 10px;
  width: 370px;
}
.submit {
  display: flex;
  padding: 0px 8px;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #6558f5;
  height: 30px;
  cursor: pointer;
  color: #6558f5;
  font-weight: 500;
  margin-right: 5px;
  border-radius: 2px;
  background-color: #fff;
}
