.Step2 {
  width: 500px;
  height: 200px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.Names {
  display: flex;
  /* align-items: baseline; */
  flex-direction: row;
}
.FirstName {
  padding: 10px;
  margin-right: 20px;
}
.LastName {
  padding: 10px;
}
.Email {
  padding: 10px;
  width: 370px;
}

.NextformContent {
  width: 600px;
  display: flex;
  justify-content: center;
}
